@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Black.ttf);
}


* {
    box-sizing: border-box;
}


html {
    font-size: 18px;
    font-family: Rubik, sans-serif;
}

body {
    margin: 0;

}



button {
    cursor: pointer;
}


a {
    text-decoration: none;
}



/*Layout*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-header h3 {
    display: inline-block;
    font-family: Rubik, serif;
    font-size: 25px;
}

.nav-links,
.social-links {
    display: flex;
}

.nav-links li,
.social-links li {
    margin: 2rem;
}

.controls-section {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Gallery-img style*/
.grid-container {
    display: grid;
    /*check property*/
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    grid-gap: 28px;
    margin: 20px;
    justify-items: center;
    align-items: center;
}

.card {
    height: 278px;
}

.card-img {
    object-fit: cover;
    width: 278px;
}

/*MEME EDITOR*/

.meme-editor-container {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 290px;
}

.meme-controls {
    width: 350px;
    height: 350px;
    margin-inline-start: 1.25rem
}

.meme-controls>* {
    padding: 10px;
}

/* .meme-controls button {
    margin: 4px;
} */

.meme-controls button {
    background: transparent;
    border: 0;
    outline: 0;
}

canvas {
    border: 2px solid black;
}

.add-txt {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}


.info-container {
    height: 567px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-info {
    margin-inline-start: 46px;
}


.main-footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}





/*componenets*/
.main-header {
    background-color: #fafafa;
}

.toggle-btn {
    background: transparent;
    outline: 0;
    border: 0;
    display: none;
}

.info-container {
    background-color: #fafafa;
}

.info-img {
    border-radius: 50%;
    width: 322px;
    height: 322px;
    object-fit: cover;
    transition: .3s ease;
    cursor: pointer;
}

.info-img:hover {
    transform: scale(1.1);
}

.logo {
    width: 50px;
    height: 50px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
}

.main-header ul li {
    font-size: 1.2rem;
}

.main-footer {
    background-color: #222;
    color: white;
}


.add-remove-change-container {
    display: flex;
    justify-content: center;
}

.font-controls {
    display: flex;
    justify-content: center;
}

.social-links li a {
    color: white;
}

.card-img {
    cursor: pointer;
    transition: .3s ease;
    border-radius: 10px;

}

.card-img:hover {
    transform: rotateZ(3deg) scale(1.1);

}



.fa-bars {
    color: black;
    background: transparent;
}

.btn {
    background: transparent;
    outline: 0;
    border: 0;
}


/*Helpers*/
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.show {
    display: flex;
}



@media (max-width: 540px) {
    .header {
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 260px;
        background-color: #f8f8f8;
        transform: translateX(100%);
        transition: transform .8s;
        /* height: 100%; */
        margin-block-start: 67px;

    }

    .nav-links li {

        text-align: center;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links li a {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .toggle-btn {
        display: flex;
        z-index: 2;
    }

    body.menu-open .main-header .nav-links {
        transform: translateX(0);
    }

    .info-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info-img {
        width: 200px;
        height: 208px;
    }

    .main-footer {
        flex-direction: column;
    }


    .meme-editor-container {
        flex-direction: column;
        margin-block-start: 10px;
    }

    .meme-controls {
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        margin-top: 0.5rem;
    }

    .add-remove-change-container {
        display: flex;
        justify-content: center;
    }

    .font-controls {
        display: flex;
        justify-content: center;
    }




}